.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1116px;
  margin: 0 auto;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;

  min-width: 360px;
  margin: 0 0;
  padding: 0 0;
}

h1,
h2,
h3
{
    font-family: 'Playfair Display', Times, serif;
    font-weight: bold;
    font-style: normal;
    line-height: normal;

    color: #252525;
}

h1
{
    font-size: 52px;

    color: #fff;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 28px;
}


*{
  border: 1px red solid;
}

header {
  color: white;
  background-color: brown;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: 252525;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}