.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1116px;
  margin: 0 auto;
}

*{
  border: 1px red solid;
}

header {
  color: white;
  background-color: brown;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: 252525;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}